$color-black: #000000;


//font

.text {
    color: $color-black;
    font-family: inter;

    &-header {
        font-size: 16px;
        font-weight: 400;
    }

    &-p {
        margin-top: 17px;
        text-align: center;
    }
}

h1 {
    font-family: inter;
    font-weight: 400;
    margin-top: 225px;
    text-align: center;  
    font-weight: 400;
}


//img

.photo {

    &__main {
        display: block;
        margin-left: auto;
        margin-right: auto;

        &--1 {
            width: 299px;
            height: 463px;
            margin-top: 88px;
        }

        &--2 {
            width: 345px;
            height: 462px;
            margin-top: 225px; //need to change
        }
    }
}